[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mixIndependR"]
	path = mixIndependR
	url = https://github.com/ice4prince/mixindependr
	shallow = true
	registered = true
